
#about {
  padding: 16px;
}

.bdr {
  border: 1px solid red;
}
#tableheader{
    background: linear-gradient(60deg, #5E35B1, #039BE5);
}

#portfolio{
    margin-top: 1px;
}

#charttype .card1{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: auto;
    margin: 0 -8px 3px -8px;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 15px;
    height:370px;
}

#charttype{
    margin-top: -15px;
}
#charttype .card {
    width: 350px;
    margin: 0 -8px 3px -8px;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 15px;
    height:370px;
  }
#portfolio .card {
  width: auto;
  margin: 0 -8px 3px -8px;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 15px;
  height:130px;
}
#portfolio .card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#portfolio .card .card-title {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  font-weight: 300;
}
#portfolio .card .card-data {
  display: flex;
  justify-content: flex-end;
  padding: 16px 16px 0 0;
  font-size: 1.5rem;
  font-weight: 300;
}

#portfolio .card .card-hint {
  display: flex;
  padding: 0 0 8px 8px;
  font-size: 0.9rem;
  font-weight: 300;
}
#portfolio .card .card-hint i {
  font-size: 1.3rem;
  color: red;
  margin-right: 8px;
}
#portfolio .card .card-icon {
  display: flex;
  position: absolute;
  top: -20px;
  left: 12px;
  background: linear-gradient(60deg, #ffa726, #EF6C00);
  color: white;
  width: 60px;
  height: 60px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: center;
  border-radius: 25%;
}
#portfolio .card .card-icon i {
  font-size: 4rem;
}
#portfolio #storageCard .card-icon {
  background: linear-gradient(60deg, #5E35B1, #039BE5);
}
#portfolio #storageCard .card-hint i {
  color: red;
}
#portfolio #loveCard .card-icon {
  
  background: linear-gradient(60deg, #008b02, #FFEB3B);
}
#portfolio #loveCard .card-hint i {
  color: blue;
}
#portfolio #pizzaCard .card-icon {
  
  background: linear-gradient(60deg, #F50057, #FF8A80);
}
#portfolio #pizzaCard .card-hint i {
  color: red;
}
#portfolio #gameCard .card-icon {
  
  background: linear-gradient(60deg, #fb8c00, #FFCA29);
}
#portfolio #gameCard .card-hint i {
  color: green;
}